body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
  background-color: #f0f0f0;
}

h1 {
  color: #555;
  font-size: 500px;
}

button {
  padding: 50px 100x;
  font-size: 30px;
  border-radius: 8px;
  border: none;
  background-color: #0d00ff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;

}






